.eventosModal {
    cursor: pointer;
}

.imagen-eventos {
    max-height: 350px;
    max-width: 400px;
}

iframe {
    width: 540px;
    height: 540px;
}

iframe.iframe-custom {
    width: 80vw;
    height: 80vh;
}

@media screen and (max-width: 720px) {
    iframe.iframe-custom {
        width: 90vw;
        height: 70vh;
    }
}

@media screen and (max-width: 490px) {
    iframe {
        width: 200px;
        height: 200px;
    }

    iframe.iframe-custom {
        width: 80vw;
        height: 45vh;
    }

    .imagen-eventos {
        width: 200px;
        height: 200px;
    }
}
